h1{
    color:black;
    background-color: white;
    font-size: 23px;
    border-radius: 12px;
}



input[type=submit]{
    background-color:black;
    color: whitesmoke;
    border-radius: 17px;
};
